li{
  display: flex;
  padding:1vw;
}
.showing{
  color:red;
}
.not-found{
  color:gray;
}
.image-container{
  width: 20%;
}
li img{
  max-width:100%;
  min-width: 200px;
  margin-right:1vw;
}
.icon{
  /* font-size: 1.6em; */
}