.loader-container{
  padding:10vw;
  position: relative;
  top: 15vh;
  text-align: center;
}
.spinner {
  position: relative;
  min-width: 10vw;
  min-height: 10vw;
  border: 12px solid;
  border-radius: 50%;
  animation: grow 7s linear infinite;
  margin: 0 auto;
  transform-origin:50% center;
  display: inline-block;
}

@keyframes grow {
  0%{
    background-color:blueviolet;
  }
  40%{
    background-color: magenta;
    border: 40px solid blueviolet;

  }
  60%{
    background-color: purple;
  }
  80%{
    border: 40px solid purple;
    background-color: magenta;
   
  }
  100%{
    background-color: blueviolet;
  }

}
@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
      border-color: green transparent lime transparent;

  }
  33%{
    border-color:  transparent green transparent lime;

  }
  66%{
    border-color: lime transparent green transparent ;
  }
  100% {
      transform: rotate(360deg);
      border-color: green transparent lime transparent;
  }
  
}